* {
    font-family: 'Source Code Pro', monospace
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #111;
}
h1 {
margin: 0px;
}

.header {
    background-color: #111;
    height: 50px;
}

.menu {
    margin: 0px;
    display: flex;
    justify-content: center;
    list-style: none;
    height: 50px;
    padding-left: 0px;
    align-items: center;
}

.menu li:not(:last-child) {
    margin-right: 25px;
}

.menu li {
    box-sizing: border-box;
    padding: 8px 20px;
    color: #fff;
    background-color: black;
    cursor: pointer;
    border-bottom: solid 2px;
    border-color: #fff;

}

.info-block {
    box-sizing: border-box;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 600px;
    background-color: black;
    border-bottom: solid 2px;
    border-left: solid 2px;
    border-color: #fff;
}

.header-text {
    padding-top: 4px;
    padding-left: 16px;
    color: #fff;
    font-size: 40px;
}

.header-info {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
    color: #fff;
    font-size: 24px;
}